<section id="presentaciones">
  <% if @presentations != [] %>
    <div class="text-center">
      <h2>Proximamente en</h2>
    </div>
    <ul class="tl-frame">
      <% @presentations.each do |p| %>
      <li <% if p.datetime.today? %>class="active"<% end %>>
        <% f = p.datetime %>
        <p class="tl-title"><%= l(f, format: "%B %d") %></p>
        <p><strong><%= p.title %></strong></p>
        <p><strong>Lugar: </strong><%= p.site %></p>
        <p><strong>Hora: </strong><%= l(f, format: '%I:%M %p') %></p>

        <% if p.contributors != nil %>
          <p><strong>Colaboran: </strong><%= p.contributors %></p>
        <% end %>

        <% if p.comment != "" %>
          <p><%= p.comment %></p>
        <% end %>
        <% if user_signed_in? %>
          <ul class="control-panel">
            <li><%= link_to('Editar', edit_presentation_path(p), class: "btn control-btn") %></li>
            <li><%= link_to('Eliminar', p, method: :delete, data: {confirm: "¿Está seguro/a?"}, class: "btn control-btn") %></li>
          </ul>
        <% end %>
      </li>
      <% end %>
    </ul>
  <% else %>
    <p>Lo sentimos, por ahora no hay presentaciones pendientes.</p>
  <% end %>
</section>
