<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Presentaciones</div>
    </div>
  </div>
</header>
<section id="presentaciones">
  <div class="container filled-container">
    <div class="row">
      <div class="col-xs-12">
        <% if @presentations != [] %>
          <div class="text-center">
            <h2>Proximamente en</h2>
          </div>
          <% @presentations.each do |presentation| %>
            <div class="panel">
              <div class="page-header">
                <h2>
                  <%= presentation.title %>
                  <% if user_signed_in? %>
                    <small><%= link_to 'Editar', edit_presentation_path(presentation) %></small>
                    <small><%= link_to 'Eliminar', presentation, method: :delete, data: { confirm: "¿Estas segur@?"} %></small>
                  <% end %>
                </h2>
              </div>
              <div class="panel-body">
                <P><strong>Lugar: </strong><%= presentation.site %></P>
                <% f = presentation.datetime %>
                <p><strong>Fecha y hora: </strong><%= l(f, format: '%B %d del %Y') %> a las <%= l(f, format: '%H:%M %p') %></p>

                <% if presentation.comment != "" %>
                  <p><strong>Nota: </strong> <%= presentation.comment %></p>
                <% end %>

                <% if presentation.contributors != "" %>
                  <p><strong>Colaboran: </strong><%= presentation.contributors %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>Lo sentimos, por ahora no hay presentaciones pendientes.</p>
        <% end %>
      </div>
    </div>
  </div>
</section>
