<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-13">
        <h2>Editar imágen</h2>

        <% if @image.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@image.errors.count, "error") %> no permitieron que esta imágen se halla actualizado:</h2>

            <ul>
            <% @image.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_for(@image, html: {id: "new-image-form"}) do |f| %>
          <div class="form-group">
            <%= f.label :title, 'Título' %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <% if @image.presentation_id != nil %>
            <div class="form-group">
              <%= f.label :presentation_id, 'Presentación (Opcional):' %>
              <%= f.select :presentation_id, Presentation.all.collect {|p| [p.site, p.id]} %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :date, 'Fecha' %><br>
            <%= f.date_select :date, class: "form-control" %>
          </div>  
          <div class="form-group">
            <%= f.label :route, 'Archivo' %>
            <%= f.text_field :route, class: "form-control" %>
            <span>Requerido</span>
          </div>
          <div class="success">
            <%= f.submit "Actualizar", class: "btn btn-lg btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
