<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="keywords" content="musical, maria del carmen zea, navidad, alegria navideña">
    <meta name="author" content="Alvaro Carmona Zapata">
    <meta name="description" content="Hechale un vistazo a mi musical navideño.">
    <title>Musical Alegría Navideña</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Activar navegacion</span> Menú <i class="fa fa-bars"></i>
          </button>
          <%= link_to "Alegría Navideña", root_path, class: "navbar-brand page-scroll" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li id="galeria">
              <%= link_to 'Galería', gallery_path %>
            </li>
            <li id="presentaciones">
              <%= link_to 'Presentaciones', presentations_path %>
            </li>
            <li id="videos">
              <a href="#">Videos</a>
            </li>
            <li id="agenda">
              <a href="#">Agenda</a>
            </li>
            <li id="comentarios">
              <a href="#">Comentarios</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
              <span class="copyright">Copyright &copy; Alegría Navideña 2016</span>
          </div>
          <div class="col-md-4">
              <ul class="list-inline social-buttons">
                  <li><a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <ul class="list-inline quicklinks">
                  <li><a href="#">Politica de privacidad</a>
                  </li>
                  <li><a href="#">Terminos de uso</a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
